body {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10%;
}

button {
  font-size: 1.5em;
  padding: 0 40px;
}

p {
  font-size: 3em;
  font-weight: bolder;
  margin-top: 0;
}
